p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.new-mac {
  color: rgb(209, 165, 33);
  font-weight: bold;
}
.mac-pro {
  font-size: xx-large;
  font-weight: bold;
}
.super-pros {
  font-size: xxx-large;
  font-weight: bolder;
  line-height: 1;
}
.price-tag {
  color: rgb(0, 0, 0);
  line-height: 3;
}
.buy-button {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(68, 109, 212);
  border: none;
  border-radius: 18px;
  color: white;
}